@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
}

#head {
    display: flex;
    align-items: center;
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    width: 150px;
    margin: 0;
}

.atlas-icon img {
    width: 150px;
    height: 50px;
}


/*login*/



/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/* accordion */
.accordion {
    display: flex;
    margin-left: auto;
    margin: 0 0 0 auto;
    height: 100%;
}

.accordion-container {
    width: 230px;
    height: 100%;
}

.accordion-title {
    height: 100%;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    padding: 12%;
    position: relative;
    ;
}

.accordion-title::after {
    border-right: solid 2px #fff;
    border-top: solid 2px #fff;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    right: 25px;
    top: 35%;
    transform: scale(1, 1) rotate(-225deg);
    width: 15px;
}

.accordion-title.open::after {
    top: 45%;
    transform: scale(-1) rotate(135deg);
}

.accordion-content {
    display: none;
    position: absolute;
    width: 305px;
    height: 240px;
    background-color: #fff;
    border-top: 2px solid #001f5b;
    border-bottom: 2px solid #001f5b;
    border-left: 2px solid #001f5b;
    border-right: 2px solid #001f5b;
}

.accordion-content>ul {
    text-align: center;
}

.accordion-content li {
    padding: 20px 0;
    border-bottom: 1px solid #000;
}

.accordion-content li:hover {
    background-color: #001f5b;
}

.accordion-content a {
    width: 100%;
    height: 100%;
    font-size: x-large;
    color: grey;
}

.accordion-content a:hover {
    color: #fff;
}

.icon-top {
    padding: 5%;
}

/*accordion横のicon*/
.icon-top img {
    width: 50px;
    height: 50px;
}

/* top (投稿)*/
.post-content {
    width: 100%;
    height: 175px;
    display: flex;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1rem solid;
    border-bottom-color: lightgray;
    justify-content: space-between;

}

/*テキストエリア*/
.text-post {
    width: 100%;
    height: 100%;
}

.form-control {
    resize: none;
    width: 450px;
    height: 140px;
    padding-top: 30px;
    font-size: 16px;
    border: none;
    background-color: transparent;
}

/*投稿送信ボタン*/
.btn-post {
    margin-top: 100px;
    margin-right: 150px;
}

.btn-post input {
    width: 45px;
    height: 45px;
}

/*投稿者(ログイン者)アイコン*/
.icon-post {
    margin-top: 20px;
    margin-left: 30px;
}

.icon-post img {
    width: 45px;
    height: 45px;
}

/* post block(投稿内容)*/
.post-block {
    list-style: none;
    padding-top: 15px;
    padding-right: 20px;
    padding-left: 150px;
    border-bottom: 1px solid #000;
    flex-direction: column;
}

.figure {
    width: 70px;
    height: auto;
}

.post-block img {
    width: 50px;
    height: 50px;
}

.post-detail {
    display: flex;
    width: 100%;
    height: auto;
}

.post-group {
    width: 500px;
    margin-left: 10px;
}

.post-name {
    font-weight: bold;
    margin-bottom: 10px;
}

.post-word {
    overflow-wrap: break-word;
}

/*投稿時間の表示位置*/
.post-time {
    margin: 0 0 0 auto;
}

/*編集・削除ボタンの親要素*/
.btn-detail {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: right;
}

/*投稿編集ボタン*/
.js-modal-open img {
    width: 50px;
    height: 50px;
}

/*投稿削除ボタン*/
.btn-delete input {
    width: 50px;
    height: 50px;
}

/* modal */
.content {
    margin: 0 auto;
    padding: 40px;
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

/*search*/
.search input {
    padding: 15% 35%;
}

.btn-search input {
    width: 50px;
    height: 50px;
}

/*profile*/
.profile-container {
    display: flex;
    width: 100%;
}

.icon-profile {
    width: 50px;
    height: auto;
    padding-top: 5%;
    margin-left: 20%;
}

.icon-profile img {
    width: 50px;
    height: 50px;
}

.profile-content {
    width: 100%;
    height: auto;
    padding-top: 5%;
    padding-left: 5%;
}

.profile-content label:not(.icon-label) {
    width: 30%;
    padding-bottom: 5%;
    font-weight: normal;
    font-size: 20px;
}

.profile-content input {
    width: 300px;
    height: 35px;
    border: solid 2px #808080;
}

.profile-file {
    display: flex;
}

.icon-label {
    width: 300px;
    height: 80px;
    color: #fff;
    background-color: lightgray;
    border: solid 2px #808080;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon-label input {
    font-size: small;
}

.icon-label p {
    width: 50%;
    color: #d3d3d3;
    background-color: #f5f5f5;
    font-size: large;
}

input[type="file"] {
    display: none;
}

.btn-danger {
    width: 150px;
    margin-top: 30px;
    margin-left: 170px;
}
